<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="29.2.7" targetFramework="net48" />
  <package id="Syncfusion.Xamarin.Core" version="29.2.7" targetFramework="net48" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net48" />
</packages>